<title>My application</title>
  <h1>Double String Search</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <label for="input1">All Strings</label>
        <label for="input2">Strings to be searched for</label>
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

<title>My application deployed automatically</title>